/* Style for header */
header {
    background-image: url(images/title-cow.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35% 100%;
    color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 20px;
}

hr.title{
    color: #FFC0CB;
    width: 8cm;
}
